@model IEnumerable<TN_Treasury_Web_Portal.Models.FAQ>

@{
    ViewData["Title"] = "Index";
}

<div class="header-container">
<h1>Frequently Asked Questions</h1>
    <a asp-action="Manage" class="btn btn-primary">Manage</a>
</div>

<br />

<input type="text" id="searchInput" placeholder="Search for questions..">
<button type="button" onclick="searchQuestions()">Search</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="faq-question">
                <td>
                   <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Question)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Expand</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        function searchQuestions() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.querySelector(".table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}
